<app-loading-spinner [isShowing]="isShowingSpinner"></app-loading-spinner>
<br>
<div class="row offset-2 col-8">
  <div class="col-3">
    <img class="card-img-top" src={{image}} alt="Card image cap">
    <p></p>
    <form *ngIf="!product.isDeleted" class="form-group row mx-auto" [formGroup]="quantityForm" (ngSubmit)="addCart(quantityForm.value)">
      <div class="input-group col-7">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-secondary" (click)="minQuantity()" [disabled]="disableMin">-</button>
        </div>
        <input style="max-width: 6em;" type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="addQuantity()"  [disabled]="disableAdd">+</button>
        </div>
      </div>
      <button class="btn btn-success col-auto" type="submit" [disabled]="!quantityForm.valid">Add to cart</button>
    </form>
  </div>
  <div class="col-9">
    <table class="table table-light">
      <thead>
        <td colspan="2" class="text-center product-info-header">
          <h3>Product detail</h3>
        </td>
      </thead>
      <tbody>
        <tr>
          <th class="product-info-row-header">Name:</th>
          <td class="product-info">{{product?.name}}</td>
        </tr>
        <tr>
          <th class="product-info-row-header">Brand: </th>
          <td class="product-info ">{{brand || ''}}</td>
        </tr>
        <tr>
          <th class="product-info-row-header">Type: </th>
          <td class="product-info ">{{type || ''}}</td>
        </tr>
        <tr *ngIf="!product.isDeleted">
          <th class="product-info-row-header" style="width:20%">Available quantity:</th>
          <td class="product-info">{{product?.leftItems}}</td>
        </tr>
        <tr *ngIf="product.isDeleted">
          <th class="product-info-row-header" style="width:20%">Status:</th>
          <td style="color: red" class="product-info">Product is unavailable</td>
        </tr>
        <tr>
          <th class="product-info-row-header">Description:</th>
          <td class="product-info">{{product?.description}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
