.product-info {
    color: rgb(35, 55, 121);
    text-shadow: 5px;
    font-weight: 500;
    word-wrap: break-word;
}

.product-info-header {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    border-radius: 5px;
}

.product-info-row-header {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    text-align: right
}