<div class="card" style="width: 18em;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-body" style="background-color: gray; color: ghostwhite">
    <h5 class="card-title">Laptop name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <div>
      <h4 style = "color: rgb(235, 235, 122)"><i class="fa fa-dollar"></i> 10.000.000 VND</h4>
    </div>
    <br>
    <div>
      <a href="#" class="btn" style="color: white; background-color: rgb(192, 192, 192)">
        <i class="fa fa-info-circle"></i>
        <b> Detail</b>
      </a>
      &nbsp;
      <a href="#" class="btn" style="color: white; background-color: rgb(192, 192, 192)">
        <i class="fa fa-cart-plus"></i>
        <b> Add to Cart</b>
      </a>
    </div>
  </div>
</div>