<app-loading-spinner [isShowing] = "isShowingSpinner"></app-loading-spinner>
<br>
<div class="justify-content-center col-8 offset-2">
  <div class="align-content-center">
    <div class="form-container card bg-light">
      <div class="card-header text-center">
        <h4>Token balance</h4>
      </div>
      <div class="row">
        <label class="col-5 offset-3"><b>Your balance:</b>
          <input [(ngModel)]="balance" disabled=true type="text" class="form-control" id="name" name="name">
        </label>
        <div style="margin-top: auto; margin-bottom: auto" class="col-1">
          <button class="btn btn-primary" (click)="open(content)">Top up</button>
        </div>
      </div>
      <div *ngIf="topupList.length > 0" class="justify-content-center">
        <div class="card bg-light">
          <div class="card-header text-center">
            <h4>Topup Request Management</h4>
          </div>
          <div class="card-body">
            <div>
              <table class="table table-light">
                <thead class="text-center" style="background-color: gray; color: white; font-size: 20px">
                  <th style="width: 10%;">#</th>
                  <th style="width: 20%;">Amount</th>
                  <th style="width: 40%;">Notes</th>
                  <th style="width: 30%;">Action</th>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let item of topupList; let i = index">
                    <td class="align-middle"><b>{{i + 1}}</b></td>
                    <td class="align-middle">
                      {{item.amount}}
                    </td>
                    <td class="align-middle">
                      {{item.notes}}
                    </td>
                    <td class="align-middle">
                      <div *ngIf="item.confirmedDate >= item.createdDate; else elseBlock">
                        <b style="color: brown">Paid</b>
                      </div>
                      <ng-template #elseBlock>
                        <div *ngIf="item.cancelledDate >= item.createdDate">
                          <b style="color: grey">Cancelled</b>
                        </div>
                      </ng-template>
                      <div *ngIf="item.confirmedDate < item.createdDate && item.cancelledDate < item.createdDate">
                        <button style="margin-right: 5px" class="btn btn-success" (click)="pay(item.id)">Pay</button>
                        <button class="btn btn-danger" (click)="cancel(item.id)">Cancel</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="topupList?.length > 0;" class="mx-auto">
            <app-pagination [currentPage]="currentPage" (changePage)="goToPage($event, 'list')" [totalPage]="totalPages">
            </app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal let-d="dismiss" let-c="close">
  <form [formGroup]="topupForm" (ngSubmit)="onSubmit(topupForm.value); c('Save click')" class="align-content-center">
    <div class="modal-header">
      <h4 class="modal-title">Topup token balance</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="price" class="col-3 col-form-label">
          <h4>Amount</h4>
        </label>
        <div class="col-9">
          <input type="number" class="form-control" id="amount" name="amount" formControlName="amount">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-3 col-form-label">
          <h4>Notes</h4>
        </label>
        <div class="col-9">
          <textarea class="form-control" formControlName="notes" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer mx-auto">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>
