<div class="row d-flex justify-content-center" syle="max-width: 80em">
  <div class="col-3">
    <app-filter-fields></app-filter-fields>
  </div>
  <div class="col-8">
    <div class="card text-center">
      <div class="card-header">
        <h2>Products</h2>
      </div>
      <div class="card-body row">
        <div *ngFor="let product of products" class="col-3">
          <app-product-card [product]="product" style="padding: 10px;"></app-product-card>
        </div>
      </div>
      <nav class="mx-auto" aria-label="Pagination">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage == 1">
            <a class="page-link" (click)="goToFirstPage()">
              <i class="fa fa-fast-backward"></i>
            </a>
          </li>
          <li class="page-item"  (click)="goToPage(currentPage-1)" [class.disabled]="currentPage == 1">
            <a class="page-link">
              <i class="fa fa-backward"></i>
            </a>
          </li>
          <li class="page-item">
            <a *ngIf="currentPage>2" (click)="goToPage(currentPage-2)" class="page-link">...</a>
          </li>
          <li *ngIf="currentPage>1" class="page-item" (click)="goToPage(currentPage-1)">
            <a class="page-link" >{{currentPage - 1}}</a>
          </li>
          <li class="page-item" [class.active]="currentPage">
            <span style="background-color: gray; border: gainsboro" class="page-link">
              {{currentPage}}
            </span>
          </li>
          <li *ngIf="totalPage>=2 && currentPage < totalPage" (click)="goToPage(currentPage+1)" class="page-item">
            <a class="page-link" >{{currentPage + 1}}</a>
          </li>
          <li *ngIf="currentPage == 1 && totalPage >= 3" (click)="goToPage(currentPage+2)" class="page-item">
            <a class="page-link" >{{currentPage + 2}}</a>
          </li>
          <li *ngIf="totalPage>3 && currentPage < totalPage - 2" class="page-item" (click)="goToPage(currentPage+2)" >
            <a class="page-link" >...</a>
          </li>
          <li [class.disabled]="currentPage == totalPage" (click)="goToPage(currentPage+1)"  class="page-item">
            <a class="page-link">
              <i class="fa fa-forward"></i>
            </a>
          </li>
          <li [class.disabled]="currentPage == totalPage" (click)="goToLastPage()" class="page-item">
            <a class="page-link">
              <i class="fa fa-fast-forward"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>