<app-loading-spinner [isShowing] = "isShowingSpinner"></app-loading-spinner>
<br>
<div class="row d-flex justify-content-center" syle="max-width: 80em">
  <div class="col-3">
    <app-filter-fields (searchFilter)="filter($event)"></app-filter-fields>
  </div>
  <div class="col-8">
    <div class="card text-center">
      <div class="card-header">
        <h2>Products</h2>
      </div>
      <ng-container *ngIf="products.length > 0; else Elseblock">
        <div class="card-body row">
          <div *ngFor="let product of products" class="col-3">
            <app-product-card [product]="product" style="padding: 10px;"></app-product-card>
          </div>
        </div>
        <div class="mx-auto">
        <app-pagination [currentPage]="currentPage" (changePage)="goToPage($event)" [totalPage]="totalPage"></app-pagination>
        </div>
      </ng-container>
      <ng-template #Elseblock>
          <h4 style="color:rgb(37, 37, 37)">Not finding what you're looking for.</h4>
      </ng-template>
    </div>
  </div>
</div>